//
   Created by tung on 21/04/2014.

doctype html5
html
    head
    body
        form(action="/login", method="POST")
            input(
            name="username"
            type="text"
            placeholder="username"
            )
            input(
            type="password"
            placeholder="password"
            name="password"
            )
            input(
            type="submit"
            value="Login"
            )
